.navbar-brand {
  color: white;
  font-weight: bold;
  margin-right: 40px;
  img{
    height: 60px;

  }
}

nav {
  background: #FFFFFF !important;
  justify-self: right;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
  padding: 0;
  height: 130px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;

    li {
      height: 100%;
      a {
        color: #7a7a7a !important;
        padding: 1.5em;
        text-transform: uppercase;
        font-size: .8em;
        line-height: 85px;
        height: 130px;
        &:hover {
          cursor: pointer;
          background: #26557d;
          color: #48bcca !important;
          span:before{
            transform: scale3d(1,1,1);
            background-color: #48bcca;
          }
          .dropdown:after{
            border-color: #48bcca;
            top: 0px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
        &.active{
          background: #26557d;
          color: #48bcca !important;
          span:before{
            transform: scale3d(1,1,1);
            background-color: #48bcca;
          }
          .dropdown:after{
            border-color: #48bcca;
          }
        }
        &.drop-active{
          background: #26557d;
          color: #48bcca !important;
          span:before{
            transform: scale3d(1,1,1);
            background-color: #48bcca;
          }
          .dropdown:after{
            border-color: #48bcca;
            top: 0px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
        span{
          padding: 10px 0;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            -webkit-transform: scale3d(0,5,1);
            transform: scale3d(0,5,1);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            transition: transform 0.3s cubic-bezier(1,0.68,0.16,0.9);
          }
          &.dropdown:after{
            content: '';
            position: relative;
            left: 10px;
            top: -3px;
            border: solid #7a7a7a;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transition: all 0.2s linear;
          }
          small{
            position: absolute;
            left: 0;
            top: -12px;
            font-size: 8px;
          }
        }
      }
      .submenu{
        visibility: hidden;
        opacity: 0;
        z-index: 9999;
        transition: visibility 0s, opacity 0.6s, top 0.3s linear;
        position: absolute;
        top: 100px;
        background-color: #26557d;
        padding: 30px 0;
        min-width: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
        &.drop-active{
          visibility: visible;
          opacity: 1;
          top: 130px;
          li{
            width: 100%;
            a{
              height: 30px;
              line-height: 0;
              color: white !important;
              &:hover{
                color: #48bcca !important;
              }
            }
          }
        }
      }
      &.active{
        a{
          color: #48bcca !important;
        }
      }
    }
  }
}
