<header>
  <nav  *ngIf="isUser" class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" height="30" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item" *ngIf="isZzp">
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>Home</span></a>
          </li>
          <li class="nav-item" *ngIf="isZzp || isAdmin">
             <a class="nav-item nav-link" routerLink="/agenda" routerLinkActive="active"><span>{{isZzp ? 'Mijn agenda' : 'Agenda'}}</span></a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-item nav-link" routerLink="/employments" routerLinkActive="active"><span>Diensten</span></a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-item nav-link" routerLink="/files" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" [ngClass]="showss" (mouseover)="showss='drop-active'" (mouseout)="showss=''"><span class="dropdown">Bestanden</span></a>
            <div class="submenu" [ngClass]="showss" (mouseover)="showss='drop-active'" (mouseout)="showss=''">
              <ul>
                <li>
                  <a class="nav-item nav-link" routerLink="/files/employment"><span>Open diensten</span></a>
                </li>
                <li>
                  <a class="nav-item nav-link" routerLink="/files/organization"><span>Organisatie info</span></a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item" *ngIf="isZzp">
            <a class="nav-item nav-link" routerLink="/files/employment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>Open diensten</span></a>
          </li>
          <li class="nav-item" *ngIf="isZzp">
            <a class="nav-item nav-link" routerLink="/files/organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span>Organisatie info</span></a>
          </li>
          <!--<li class="nav-item" *ngIf="isAdmin">
              <a class="nav-item nav-link" routerLink="/userlist" routerLinkActive="active"><span>Gebruikers</span></a>
          </li>-->
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" [ngClass]="shows" (mouseover)="shows='drop-active'" (mouseout)="shows=''"><span class="dropdown">Gebruikers</span></a>
            <div class="submenu" [ngClass]="shows" (mouseover)="shows='drop-active'" (mouseout)="shows=''">
              <ul>
                <li>
                  <a class="nav-item nav-link" routerLink="/users/zzp"><span>ZZP</span></a>
                </li>
                <li>
                  <a class="nav-item nav-link" routerLink="/users/admin"><span>Administrator</span></a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-item nav-link" routerLink="/organizationlist" routerLinkActive="active"><span>Organisaties</span></a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isUser">
            <a class="nav-item nav-link" [ngClass]="show" routerLink="/profile" (mouseover)="show='drop-active'" (mouseout)="show=''"><span class="dropdown">{{this.currentUser.username}}<small>{{this.currentUser.role}}</small></span></a>
            <div class="submenu" [ngClass]="show" (mouseover)="show='drop-active'" (mouseout)="show=''">
              <ul>
                <li>
                  <a class="nav-item nav-link" (click)="logout()">Uitloggen</a>
                </li>
              </ul>
            </div>
          </li>
          <li cdkAriaLive="nav-item">
            <app-notifications-icon></app-notifications-icon>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
