<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="login-page">
  <div class="alert alert-info">
          We versturen een email naar uw email adress
      </div>
  <div class="form">
    <img src="assets/images/logo.png" alt="logo">
    <h3>
      Reset wachtwoord
    </h3>
    <br>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="text" placeholder="Email" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is verplicht</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Verstuur</button>
      </div>
      <div class="form-group">
            <a routerLink="/" >Terug naar login</a>
      </div>
    </form>
  </div>
</div>
<div class="login-page-bg">
  <img class="bg-image" src="assets/images/uitzendkracht.jpg">
</div>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>

