<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h1>Organisatie aanmaken</h1>
<br>
<div class="container-fluid">
  <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <a (click)="isToggleFile = !isToggleFile" class="btn btn-primary">Bestand toevoegen?</a>
  </div>
  <input type="hidden" [(ngModel)]="isToggleFile" formControlName="isFile">
  <div *ngIf="isToggleFile">
    <div class="form-group">
      <label for="name">Naam informatie bestand</label>
      <input id="name" type="text" placeholder="Naam bestand" formControlName="fileName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.fileName.errors }" [(ngModel)]="organizationAndFile.file.name"/>
      <div *ngIf="submitted && f.fileName.errors" class="invalid-feedback">
        <div *ngIf="f.fileName.errors.IsFile">Naam bestand is verplicht</div>
      </div>
    </div>
    <div class="form-group">
      <label for="url">Bestand <span class="text-muted small">(.pdf)</span></label>
      <input type="file" class="form-control" (change)="fileChange($event)" formControlName="fileContent" placeholder="Upload file" accept=".pdf">
    </div>
    <br>
      <hr>
      <br>
    </div>

  <b>Foto</b>
    <div class="form-group">
    <label for="file-input" *ngIf="organizationAndFile.organization.image">
                    <img [src]="organizationAndFile.organization.image" alt="Geen afbeelding"/>
                  </label>
      <input id="file-input" type="file" accept="image/*" formControlName="image" (change)="onFileChange($event)" class="form-control"/>
    </div>
    <div class="form-group">
      <b>Naam</b>
      <input type="text" [(ngModel)]="organizationAndFile.organization.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Naam is verplicht</div>
              </div>
    </div>
    <div class="form-group">
          <b>Site Url</b>
          <input type="text" placeholder="https://www.organisatie.nl" [(ngModel)]="organizationAndFile.organization.siteUrl" formControlName="siteUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.siteUrl.errors }"/>
          <div *ngIf="submitted && f.siteUrl.errors" class="invalid-feedback">
                    <div *ngIf="f.siteUrl.errors.required">Site url is verplicht</div>
                  </div>
        </div>
    <div class="form-group">
          <b>Email</b>
          <input type="text" placeholder="example@example.nl" [(ngModel)]="organizationAndFile.organization.email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is verplicht</div>
                  </div>
        </div>
    <div class="form-group">
      <b>Locatie/adres</b>
      <input type="text" placeholder="straatnaam 0, 1234 AA, Plaats" [(ngModel)]="organizationAndFile.organization.location" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }"/>
      <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                      <div *ngIf="f.location.errors.required">Locatie/adres is verplicht</div>
                    </div>
    </div>
    <div class="form-group">
      <b>Telefoon nummer</b>
      <input type="text" placeholder="06-12345678 / 0495-123456" [(ngModel)]="organizationAndFile.organization.phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Telefoon nummer is verplicht</div>
                    </div>
    </div>
    <div class="form-group">
          <b>Omschrijving</b>
          <textarea rows="5" [(ngModel)]="organizationAndFile.organization.description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                          <div *ngIf="f.description.errors.required">Omschrijving is verplicht</div>
                        </div>
        </div>
    <hr>
    <b>Afdelingen</b>
    <div class="form-group col-12 row">
      <div class="col-6">
        <div class="form-row tags">
          <ul class="col-md-12">
            <li class="department" *ngFor="let department of departments">{{department.name}} <span style="color: red; cursor: pointer;"><b (click)="removeDepartment(department.name)">X</b></span>
              <div class="department-info">
                  <!--<a class="btn btn-outline-primary btn-sm mb-1" (click)="editDepartment(department)">
                  <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                  </svg></a><br>-->
                    <b>Naam:</b> {{department.name}}<br>
                    <b>Locatie:</b> {{department.location}}<br>
                    <b>Beschrijving:</b>
                    <p>{{department.description}}</p>
               </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <div class="form-row tagSearch">
          <label for="newDepartmentName">Naam</label>
          <input class="form-control mb-3" type="text" id="newDepartmentName" placeholder="Naam van afdeling" formControlName="newDepartmentInputName" [(ngModel)]="newDepartment.name"><br>
          <label for="newDepartmentLocation">Locatie/adres</label>
          <input class="form-control mb-3" type="text" id="newDepartmentLocation" placeholder="Locatie" formControlName="newDepartmentInputLocation" [(ngModel)]="newDepartment.location"><br>
          <label for="newDepartmentDescription">Omschrijving</label>
          <textarea class="form-control mb-2" cols="40" rows="5" id="newDepartmentDescription" placeholder="Omschrijving" formControlName="newDepartmentInputDescription" [(ngModel)]="newDepartment.description"></textarea><br>
          <div *ngIf="errorAddDepart" class="invalid-feedback d-block mb-2">
             <div>De naam en locatie zijn verplicht.</div>
          </div>
          <a (click)="addDepartment()" class="btn btn-primary">Toevoegen</a>
        </div>
      </div>
    </div>


    <div class="form-group">
      <button class="btn btn-outline-primary">
      Opslaan</button>
    </div>
  </form>
</div>

<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
