img {
  max-width: 200px;
  max-height: 100px;
}

.department {
  .department-info{
    display: none;
    max-width: 200px;
    font-size: 10px;
    position: absolute;
    z-index: 99999;
    background: white;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #e1e4e8;
    box-shadow: 0px 5px 6px grey;
  }
  &:hover {
    .department-info {
      display: block;
    }
  }
}
