<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h1>Dienst aanmaken</h1>
<form [formGroup]="createEmploymentForm" (ngSubmit)="onSubmit()"
      *ngIf="obOrganization$ | async as organization$; else loading">
    <div class="form-group">
        <label for="zzper">Zzp'er</label>
        <div *ngIf="isAdmin">
            <ng-select id="zzper" placeholder="Selecteer zzp'er" formControlName="zzper" (ngModelChange)="selectUser($event)">
                <ng-option *ngFor="let user of users" [value]="user"
                           [disabled]="user.disabled">{{user.account.name}}</ng-option>
            </ng-select>
            <div *ngIf="submitted && f.zzper.errors" class="invalid-feedback d-block">
                <div *ngIf="f.zzper.errors.required">Zzp'er is verplicht</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="organization">Zorgorganisatie</label>
        <ng-select id="organization" placeholder="Selecteer organisatie" formControlName="organization"
                   (ngModelChange)="dataChanged($event)" [(ngModel)]="activeEmployment.organization">
            <ng-option *ngFor="let organization of organizations" [value]="organization"
                       [disabled]="organization.disabled">{{organization.name}}</ng-option>
        </ng-select>
        <div *ngIf="submitted && f.organization.errors" class="invalid-feedback d-block">
            <div *ngIf="f.organization.errors.required">Organisatie is verplicht</div>
        </div>
    </div>
    <div class="form-group">
        <label for="department">Afdeling</label>
        <ng-select id="department" placeholder="Selecteer afdeling" formControlName="department"
                   [ngClass]="{ 'is-invalid': submitted && f.department.errors }" (ngModelChange)="departmentChanged($event)" [(ngModel)]="activeEmployment.department">
            <ng-option *ngFor="let department of departments" [value]="department"
                       [disabled]="department.disabled">{{department.name}}</ng-option>
        </ng-select>
        <div *ngIf="submitted && f.department.errors" class="invalid-feedback d-block">
            <div *ngIf="f.department.errors.required">Afdeling is verplicht</div>
        </div>
    </div>
    <div class="form-group">
        <label for="location">Locatie</label>
        <input id="location" type="text" placeholder="Locatie" formControlName="location" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.location.errors }" [(ngModel)]="activeEmployment.location"/>
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">Locatie is verplicht</div>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Aangevraagd niveau</label>
        <input id="description" type="text" placeholder="Beschrijving" formControlName="description" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.description.errors }" [(ngModel)]="activeEmployment.description"/>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Beschrijving is verplicht</div>
        </div>
    </div>
    <div class="form-group">
        <label for="level">Niveau</label>
        <select id="level" formControlName="educationLevel" class="form-control" [(ngModel)]="selectedEducationLevel">
            <option [value]="educationLevel" *ngFor="let educationLevel of educationLevelsPlaceholder$">
                {{ educationLevel }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="function">Functie</label>
        <input id="function" type="text" placeholder="Functie" formControlName="function" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.function.errors }" [(ngModel)]="activeEmployment.function"/>
        <div *ngIf="submitted && f.function.errors" class="invalid-feedback">
            <div *ngIf="f.function.errors.required">Functie is verplicht</div>
        </div>
    </div>
    <div class="form-group">
        <label for="extraInfo">Extra informatie</label>
        <textarea id="extraInfo" placeholder="Extra informatie" cols="40" rows="5" formControlName="extraInfo"
                  class="form-control"
                  [(ngModel)]="activeEmployment.extraInfo"></textarea>
    </div>
    <label class="example-input-wrapper w-40">
        Geplande starttijd ~ eindtijd
        <input class="form-control"
        matInput
               ngxDaterangepickerMd
               formControlName="rangeDate"
               placeholder="Kies datum"
               [locale]="locale"
               [timePicker]="true"
               [timePickerIncrement]="15"
               [timePicker24Hour]="true"
               [showDropdowns]="true"
               [(ngModel)]="dateTimeRange"
               [showCancel]="true"
               [opens]="opens"
               [drops]="drops"
        />
    </label>

    <div *ngIf="dateTimeRangeError != ''" class="invalid-feedback d-block">
        <div>{{ dateTimeRangeError }}</div>
    </div>
    <br>

    <div class="form-group">
        <button class="btn btn-primary">Aanmaken</button>
    </div>
</form>
<ng-template #loading>
  <app-loading-overlay></app-loading-overlay>
</ng-template>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
