<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h1>Dienst aanpassen</h1>
<form [formGroup]="createEmploymentForm" (ngSubmit)="onSubmit()" *ngIf="obEmployment$ | async as employment$; else loading">
  <div class="form-group">
      <label for="organization">Zzp'er</label>
      <input id="organization" type="text" [value]="employment.zzp[0]?.account ? employment.zzp[0]?.account?.name : 'Verwijderde Zzp'" formControlName="zzp" class="form-control">
  </div>
  <div class="form-group">
      <label for="organization">Zorgorganisatie</label>
      <ng-select id="organization" placeholder="Selecteer organisatie" formControlName="organization" (ngModelChange)="organizationChanged($event)" [(ngModel)]="selectedOrg">
        <ng-option *ngFor="let organization of selectOptionsOrg" [value]="organization.value">{{organization.label}}</ng-option>
      </ng-select>

      <div *ngIf="submitted && f.organization.errors" class="invalid-feedback d-block">
        <div *ngIf="f.organization.errors.required">Organisatie is verplicht</div>
      </div>
      <!--<input id="organization" type="text" [value]="employment.organization.name" formControlName="organization" class="form-control">-->
  </div>

  <div class="form-group">
    <label for="department">Afdeling</label>
      <ng-select id="department" placeholder="Selecteer afdeling" formControlName="department" (ngModelChange)="departmentChanged($event)" [(ngModel)]="selectedDep">
        <ng-option *ngFor="let department of selectOptionsDep" [value]="department.value">{{department.label}}</ng-option>
      </ng-select>
    <div *ngIf="submitted && f.department.errors" class="invalid-feedback d-block">
      <div *ngIf="f.department.errors.required">Afdeling is verplicht</div>
    </div>
  </div>

  <div class="form-group">
    <label for="location">Locatie</label>
    <input id="location" type="text" placeholder="Locatie" formControlName="location" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.location.errors }" [(ngModel)]="employment.location"/>
    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
      <div *ngIf="f.location.errors.required">Locatie is verplicht</div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Aangevraagd niveau</label>
    <input id="description" type="text" placeholder="Beschrijving" formControlName="description" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.description.errors }" [(ngModel)]="employment.description"/>
    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div *ngIf="f.description.errors.required">Beschrijving is verplicht</div>
    </div>
  </div>
  <div class="form-group">
    <label for="level">Niveau</label>
    <select id="level" class="form-control" [(ngModel)]="employment.educationLevel" formControlName="educationLevel">
      <option [value]="'TWO'">2</option>
      <option [value]="'TWO_PLUS'">2+</option>
      <option [value]="'THREE'">3</option>
      <option [value]="'FOUR'">4</option>
      <option [value]="'FIVE'">5</option>
      <option [value]="'SIX'">6</option>
    </select>
  </div>
  <div class="form-group">
    <label for="function">Functie</label>
    <input id="function" type="text" placeholder="Functie" formControlName="function" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.function.errors }" [(ngModel)]="employment.function"/>
    <div *ngIf="submitted && f.function.errors" class="invalid-feedback">
      <div *ngIf="f.function.errors.required">Functie is verplicht</div>
    </div>
  </div>
  <div class="form-group">
    <label for="extraInfo">Extra informatie</label>
    <textarea id="extraInfo" placeholder="Extra informatie" cols="40" rows="5" formControlName="extraInfo" class="form-control"
          [(ngModel)]="employment.extraInfo"></textarea>
  </div>
  <label class="example-input-wrapper w-40">
          Geplande starttijd ~ eindtijd
          <input class="form-control"
          matInput
                 ngxDaterangepickerMd
                 formControlName="rangeDate"
                 placeholder="Kies datum"
                 [locale]="locale"
                 [timePicker]="true"
                 [timePickerIncrement]="15"
                 [timePicker24Hour]="true"
                 [showDropdowns]="true"
                 [(ngModel)]="dateTimeRange"
                 [showCancel]="true"
                 [opens]="opens"
                 [drops]="drops"
          />
      </label>
    <div *ngIf="dateTimeRangeError != ''" class="invalid-feedback d-block">
      <div>{{ dateTimeRangeError }}</div>
    </div>
    <br>

  <div class="form-group">
    <button class="btn btn-primary">opslaan</button>
    <button class="btn btn-outline-primary float-right" routerLink="/employments">annuleren</button>
  </div>
</form>

<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
