<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Dienst detail</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ modalData?.event.zzp[0]?.account ? modalData?.event.zzp[0]?.account?.name : 'Verwijderde Zzp'}}</h2>
                    <table class="table table-borderless">
                        <tr class="row">
                            <td class="col-8"><b>Aangevraagd niveau: </b>{{modalData?.event.description}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>Niveau:</b>  {{ modalData?.event.educationLevel}}</td>
                            <td class="col-4"><b>Functie:</b> {{ modalData?.event.function}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>Van:</b> {{modalData?.event.plannedStartDate | date: 'dd-MM-yyyy HH:mm'}}<br> <b>Tot:</b>&nbsp;&nbsp;{{modalData?.event.plannedEndDate | date: 'dd-MM-yyyy HH:mm'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ modalData?.event.organization?.name}}</h5>
                    <table class="table table-borderless">
                        <tr class="row">
                            <td class="col-8"><b>Adres: </b> <a target="_blank" href="https://www.google.com/maps/search/{{modalData?.event.organization?.location}}">{{modalData?.event.organization?.location}}</a></td>
                            <td class="col-4" *ngIf="isAdmin"><b>Email: </b> <a href="mailto:{{modalData?.event.organization?.email}}">{{ modalData?.event.organization?.email}}</a></td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>locatie: </b>{{modalData?.event.location}}</td>
                            <td class="col-4"><b>Website: </b> <a href="{{modalData?.event.organization?.siteUrl}}" target="_blank"> {{modalData?.event.organization?.siteUrl}}</a></td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>Afdeling: </b>{{ modalData?.event.department?.name}}</td>
                            <td class="col-4"><b>Tel: </b> <a href="tel:{{modalData?.event.organization?.phone}}">{{ modalData?.event.organization?.phone}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold">Beschrijving</h5>
                    <p>
                        {{ modalData?.event.extraInfo }}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="isAdmin" class="btn btn-outline-danger mr-auto" (click)="delete(modalData?.event)">
            Verwijderen
        </button>
        <a *ngIf="isAdmin" class="btn btn-outline-primary" (click)="close()" routerLink="/employments/{{ modalData?.event.id}}/edit">
            Bewerken
        </a>
    </div>
</ng-template>
<div class="row page-header">
    <h2>Diensten</h2>
    <a *ngIf="isAdmin" routerLink="/create-employment" class="btn btn-primary ml-auto btn-create">+ Nieuwe dienst</a>
</div>
<hr>
<form (submit)="search()" action="#" class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Naam zzp'er" [(ngModel)]="searchZzpName" name="zzpName">
    </div>
    <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Naam organisatie" [(ngModel)]="searchOrgName" name="orgName">
        </div>
    <div class="col-md-2">
        <input class="form-control date-input" type="date" placeholder="Datum" [(ngModel)]="searchDate" name="date">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary float-right">Zoeken</button>
    </div>
</form>
<hr>
<!--<div class="btn-group" *ngIf="isAdmin">
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.ALL; fetchEmployments()"
        [class.active]="view === EmploymentState.ALL"
      >
        Alles
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.OPEN; fetchEmployments()"
        [class.active]="view === EmploymentState.OPEN"
      >
        Open
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.EXPIRED; fetchEmployments()"
        [class.active]="view === EmploymentState.EXPIRED"
      >
        Verlopen
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.CLOSED; fetchEmployments()"
        [class.active]="view === EmploymentState.CLOSED"
      >
        Gesloten
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.FILLED; fetchEmployments()"
         [class.active]="view === EmploymentState.FILLED"
      >
        Voltooid
      </div>
    </div>-->


<div class="list-group" *ngIf="obEmployment$ | async as employments$; else loading">
    <div *ngIf="employments$.length; else noItems">
        <a *ngFor="let employment of employments" (click)="oModal(employment)" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 font-weight-bold">{{employment.zzp[0]?.account ? employment.zzp[0]?.account?.name : 'Verwijderde Zzp'}}</h5>
                <small>Van: {{employment.plannedStartDate | date: 'dd-MM-yyyy HH:mm'}}<br> Tot:&nbsp;&nbsp;{{employment.plannedEndDate | date: 'dd-MM-yyyy HH:mm'}}</small>
            </div>
            <p class="mb-1">{{employment.organization?.name}}</p>
            <small class="text-muted">{{employment.location}}</small>
        </a>
        <app-loading *ngIf="loadingMore" class="load"></app-loading>
    </div>
    <ng-template #noItems>Er zijn geen diensten gevonden!</ng-template>
</div>
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
