ngb-alert {
  position: fixed;
  top: 5px;
  left: calc(75vw - 64vw);
  width: 75vw;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.29);
}

.modal-body {
  word-wrap: break-word;

  table {
    td {
      padding-left: 0;
    }
  }
}

.page-header {
  margin: 0 !important;

  .btn-create {
    max-height: 39px;
    color: white !important;
  }
}

.list-group {
  .load {
    margin: 50px 0;
  }
}

.date-input {
  min-width: 180px;
}
