<div *ngIf="obZzp$ | async; else loading">
  <div class="row">
    <div class="col-md-3 image_container">
      <img src="assets/images/profile-placeholder.png" alt="profile" class="profile_image">
    </div>
    <div class="col-md-9">
      <table class="table">
        <tbody>
          <tr>
            <td><b>Naam:</b> {{zzp.account.name}}</td>
            <td><b>Tel:</b> {{zzp.account.phone}}</td>
          </tr>
          <tr>
            <td><b>Geslacht:</b> {{zzp.gender}}</td>
            <td><b>Email:</b> {{zzp.account.email}}</td>
          </tr>
          <tr>
            <td><b>Leeftijd:</b> {{zzp.age}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row profile_detail">
    <div class="col-md-12">
      <h4>Beroep:</h4> {{zzp.profession}}
    </div>
  </div>
  <div class="row profile_detail">
    <div class="col-md-12">
      <h4>Opleidingsniveau</h4> {{zzp.educationLevel}}
    </div>
  </div>
  <div class="row profile_detail">
    <div class="col-md-12">
      <h4>Beschrijving</h4>
      {{zzp.description}}
      </div>
  </div>
</div>
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
