<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h1>Account aanmaken</h1>
<br>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
          <b>Type gebruiker</b>
          <select class="form-control" id="role" [(ngModel)]="acc.role" formControlName="role">
              <option [value]="'ZZP'" selected>Zpp</option>
              <option [value]="'ADMIN'">Admin</option>
            </select>
        </div>
  <div class="form-group">
    <b>Naam</b>
    <input type="text" id="name" placeholder="Naam" formControlName="name" class="form-control" [(ngModel)]="acc.name"
           [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Naam is verplicht</div>
        </div>
  </div>
  <div class="form-group">
    <b>Email</b>
    <input type="email" placeholder="Email" formControlName="email" class="form-control" [(ngModel)]="acc.email"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is verplicht</div>
    </div>
  </div>
  <div class="form-group">
    <b>Telefoonnummer</b>
    <input type="text" placeholder="Telefoonnummer" formControlName="phone" class="form-control" [(ngModel)]="acc.phone"
           [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors.required">Telefoonnummer is verplicht</div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
    Registreren</button>
  </div>
</form>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>

