footer{
  position:relative;
  bottom:0;
  width:100%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 14px;
  #development{
    a{
      color: #B2B2B2;
      text-decoration: none;
      &:hover{
        span:nth-child(2){
          text-decoration: underline;
          color: black;
        }
      }
      span{
        transition: color 0.2s ease;
      }
    }
  }
}
