<footer>
  <div id="development">
    <a class="" rel="nofollow">
      <span>De Nodige Zorg v0.8.9</span><br>
      <span>&copy;De Nodige zorg - <a href="https://denodigezorg.nl/privacy/" target="_blank">Privacy</a> - <a href="https://denodigezorg.nl/voorwaarden-zorgprofessional/" target="_blank">Algemene voorwaarden</a> </span>
      <!--<span>Ontwikkeld door </span><span>Noud Habraken &amp; Roel Geelen</span>-->
    </a>
  </div>
</footer>
