<div class="notification-container">
  <div [style.visibility]="notificationCount != 0 ? 'visible' : 'hidden'" class="angular-notifications-icon overlay">{{notificationCount}}</div>
  <a routerLink="notifications" class="btn btn-default btn-lg btn-link">
    <img src="assets/images/envelop.png" class="icon-envelop">
  </a>

</div>
