.notification-container{
  margin-top: 15px;

  .angular-notifications-icon {
    right: -40px;
    top: 25px;
    border-radius: 50%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    font-size: 16px;
    width: 25px;
    height: 25px;
    line-height: 1.15;
    background: red;
    color: white;
    user-select: none;
    cursor: default;
    &.overlay {
      position: relative;
      z-index: 1;
    }
  }
  .btn-lg{
    padding: 0.5rem 0rem 0.5rem 1rem;
  }

  .icon-envelop{
    height: 36px;
  }

}

