<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h2>Meldingen</h2>
<div class="list-group" *ngIf="obNotifications$ | async as notifications$; else loading">
  <div *ngIf="notifications$.length; else noItems">
    <div class="d-flex mb-2" *ngFor="let notification of notifications">
      <a  [className]="notification.isRead ? 'list-group-item list-group-item-action flex-column align-items-start' : 'list-group-item list-group-item-action flex-column align-items-start unread'">
        <span *ngIf="!notification.isRead"></span>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 font-weight-bold">{{notification.message}}{{notification.employmentDate | date:'dd-MM-yyyy HH:mm'}}</h5>
          <!--<img src="assets/images/delete.png" (click)="delete(notification)">-->
        </div>
        <p class="mb-1 small">Ontvangen: {{notification.date | dateAgo}}</p>
      </a>
      <button class="float-right btn btn-light text-center middle-button" placement="bottom" ngbTooltip="Markeren als ongelezen" *ngIf="notification.isRead" (click)="unread(notification)">
        <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
          <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"/>
        </svg>
      </button>
      <button class="float-right btn btn-light text-center middle-button unread" placement="bottom" ngbTooltip="Markeren als gelezen" *ngIf="!notification.isRead" (click)="read(notification)">
        <svg class="bi bi-envelope-open" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.243 6.929l.514-.858L8 10.417l7.243-4.346.514.858L8 11.583.243 6.93z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M7.184 10.68L.752 14.432l-.504-.864L6.68 9.816l.504.864zm1.632 0l6.432 3.752.504-.864L9.32 9.816l-.504.864z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 00-.94 0l-6 3.2A1 1 0 001 5.4V14a1 1 0 001 1h12a1 1 0 001-1V5.4a1 1 0 00-.53-.882l-6-3.2zM7.06.435a2 2 0 011.882 0l6 3.2A2 2 0 0116 5.4V14a2 2 0 01-2 2H2a2 2 0 01-2-2V5.4a2 2 0 011.059-1.765l6-3.2z" clip-rule="evenodd"/>
        </svg>
      </button>
      <button class="float-right btn btn-light text-center" [ngClass]="{'unread' : !notification.isRead}" placement="bottom" ngbTooltip="Verwijderen" (click)="delete(notification)">
        <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
        </svg>
      </button>
    </div>
  </div>
  <ng-template #noItems>Je hebt geen meldingen!</ng-template>
</div>
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
