.list-group {
  .list-group-item {
    padding-left: 35px;

    &.unread {
      background-color: #eff7ff;
      border: 1px solid #D1E8FF;
    }

    span {
      height: 10px;
      width: 10px;
      background-color: red;
      position: absolute;
      top: calc(50% - 5px);
      left: 12px;
      display: block;
      border-radius: 50%;
    }

    img {
      height: 25px;
      position: relative;
      top: 18px;
    }
  }

  .unread {
    background-color: #eff7ff;
    border: 1px solid #D1E8FF;
  }
}
