.delete-file {
  padding: 25px;
}

.group-title {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  background-color: #48bcca;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.page-header{
  margin: 0 !important;
  .btn-create{
    max-height: 39px;
    color: white !important;
  }
}
