<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="row page-header">
  <h2>Open diensten</h2>
  <a *ngIf="isAdmin" (click)="goToAddFile()" class="btn btn-primary ml-auto btn-create">+ Bestand toevoegen</a>
  <a *ngIf="!isAdmin" href="mailto:planning@denodigezorg.nl" class="btn btn-primary ml-auto btn-create">Ik wil een dienst aanvragen</a>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Zoeken">
  </div>
  <div class="col-md-2">
    <input type="submit" class="btn btn-primary" value="Zoeken">
  </div>
</div>
<hr>
<div class="list-group" *ngIf="obfiles$ | async as files$; else loading" >
  <div *ngIf="files$.length; else noItems">
    <div *ngFor="let groupFile of files | keyvalue | filter:searchText">
    <div class="group-title">
        {{groupFile.key}}
    </div>

    <div  class="d-flex" *ngFor="let file of groupFile.value">
      <a class="list-group-item list-group-item-action flex-column align-items-start" (click)="open(file)" >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 font-weight-bold">{{file.name}}</h5>
        </div>
        <small class="text-muted">{{file.uploadDate | date: 'dd-MM-yyyy HH:mm'}}</small>
      </a>
      <button *ngIf="isAdmin" class="delete-file float-right btn btn-light text-center" (click)="delete(file)">
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
              </svg>
            </button>
      </div>
    </div>
  </div>
  <ng-template #noItems>Er zijn op dit moment geen bestanden!</ng-template>
</div>
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
