﻿<h1>Gebruikers overzicht</h1>
<p>Kies een pagina.</p>
<div>
    <ul>
        <li ><a routerLink="/users/zzp">Zzp'ers</a></li>
        <li ><a routerLink="/users/admin">Administratoren</a></li>
    </ul>
</div>
