<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Admin informatie</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="adminForm" (ngSubmit)="onSubmit(modalData?.event)">
      <b>Foto</b>
        <div class="form-group">
            <label for="file-input" *ngIf="modalData?.event.image">
              <img src="{{ modalData?.event.image}}" alt="Geen afbeelding"/>
            </label>
            <input id="file-input" type="file" accept="image/*" formControlName="image" (change)="onFileChange($event, modalData?.event)" class="form-control"/>
        </div>
        <div class="form-group">
            <b>Naam</b>
          <input type="text" [(ngModel)]="modalData?.event.name" formControlName="name" class="form-control"/>
        </div>
        <div class="form-group">
                    <b>Email</b>
                  <input type="text" [(ngModel)]="modalData?.event.email" formControlName="email" class="form-control"/>
                </div>
        <div class="form-group">
            <b>Telefoon nummer</b>
          <input type="text" [(ngModel)]="modalData?.event.phone" formControlName="phone" class="form-control"/>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary">
          Bewerken</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<div class="row page-header">
  <h2>Administratoren</h2>
  <a (click)="goToRegister()" class="btn btn-primary ml-auto btn-create">+ Admin registreren</a>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Zoeken">
  </div>
  <div class="col-md-2">
     <input type="submit" class="btn btn-primary" value="Zoeken">
    </div>
</div>
<hr>
<div class="list-group" *ngIf="obusers$ | async as users$; else loading" >
  <div *ngIf="users$.length; else noItems">
    <div class="d-flex" *ngFor="let user of users | filter:searchText">
      <a (click)="oModal(user)" class="list-group-item list-group-item-action flex-column align-items-start" [ngClass]="!user.enabled ? 'inActive' : ''">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 font-weight-bold">{{user.name}}</h5>
          <small>{{user.lastLogin | date: 'dd-MM-yyyy HH:mm'}}</small>
        </div>
        <small class="text-muted">{{user.email}}</small>
      </a>
      <button class="delete-file float-right btn btn-light text-center" (click)="delete(user)">
        <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
        </svg>
      </button>
    </div>
  </div>
  <ng-template #noItems>Er zijn op dit moment geen gebruikers!</ng-template>
</div>

<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
