img {
  max-width: 200px;
  max-height: 100px;
}

.page-header {
  margin: 0 !important;

  .btn-create {
    max-height: 39px;
    color: white !important;
  }
}

.list-group {
  .list-group-item {
    &.inActive {
      border-left: solid 5px orange;
    }
  }
}
