﻿<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h1>Home</h1>
<br>
<div class="row">
    <div class="col-8">
        <h3>Overzicht</h3>
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle>Meldingen<!--<span class="angular-notifications-icon overlay">{{notificationCount}}</span>--></ng-template>
                <ng-template ngbTabContent>
                    <div class="list-group">
                        <!--<div *ngIf="obNotifications$ | async as notifications$; else loading">
                          <div *ngIf="notifications$.length; else noItems">
                          <div class="d-flex" *ngFor="let notification of notifications | slice:0:5">
                            <a [className]="notification.isRead ? 'list-group-item list-group-item-action flex-column align-items-start' : 'list-group-item list-group-item-action flex-column align-items-start unread'">
                              <span *ngIf="!notification.isRead"></span>
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-2 font-weight-bold">{{notification.message}}{{notification.employmentDate | date:'dd-MM-yyyy HH:mm'}}</h5>
                              </div>
                              <p class="mb-1 small">Ontvangen: {{notification.date | dateAgo}}</p>
                            </a>
                            <button class="float-right btn btn-light text-center" placement="bottom" ngbTooltip="Markeren als ongelezen" *ngIf="notification.isRead" (click)="unread(notification)">
                                    <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                                      <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
                                      <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"/>
                                    </svg>
                                  </button>
                                  <button class="float-right btn btn-light text-center unread" placement="bottom" ngbTooltip="Markeren als gelezen" *ngIf="!notification.isRead" (click)="read(notification)">
                                    <svg class="bi bi-envelope-open" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M.243 6.929l.514-.858L8 10.417l7.243-4.346.514.858L8 11.583.243 6.93z" clip-rule="evenodd"/>
                                      <path fill-rule="evenodd" d="M7.184 10.68L.752 14.432l-.504-.864L6.68 9.816l.504.864zm1.632 0l6.432 3.752.504-.864L9.32 9.816l-.504.864z" clip-rule="evenodd"/>
                                      <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 00-.94 0l-6 3.2A1 1 0 001 5.4V14a1 1 0 001 1h12a1 1 0 001-1V5.4a1 1 0 00-.53-.882l-6-3.2zM7.06.435a2 2 0 011.882 0l6 3.2A2 2 0 0116 5.4V14a2 2 0 01-2 2H2a2 2 0 01-2-2V5.4a2 2 0 011.059-1.765l6-3.2z" clip-rule="evenodd"/>
                                    </svg>
                                  </button>
                          </div>

                          </div>
                        </div>
                        <ng-template #loading><app-loading class="load"></app-loading></ng-template>
                        <ng-template #noItems>
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <p class="mb-1">Je hebt geen meldingen!</p>
                        </a>
                        </ng-template>-->
                        <a routerLink="/notifications" class="btn btn-primary">
                            Toon alle berichten!
                        </a>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="!isOrganization">
                <ng-template ngbTabTitle>Open diensten</ng-template>
                <ng-template ngbTabContent>
                    <div class="list-group">
                        <!--<div *ngIf="obFiles$ | async as files$; else loading">
                          <div *ngIf="files$.length; else noItems">
                            <a *ngFor="let file of files | slice:0:5" (click)="open(file)" class="list-group-item list-group-item-action flex-column align-items-start">
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 font-weight-bold">{{file.name}}</h5>
                              </div>
                              <small class="text-muted">{{file.uploadDate | date: 'dd-MM-yyyy HH:mm'}}</small>
                            </a>
                          </div>
                        </div>
                        <ng-template #loading><app-loading class="load"></app-loading></ng-template>
                        <ng-template #noItems>
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                          <p class="mb-1">Er zijn geen bestanden!</p>
                        </a>
                        </ng-template>-->
                        <a routerLink="/files/employment" class="btn btn-primary">
                            Toon alle open diensten!
                        </a>
                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Organisaties</ng-template>
                <ng-template ngbTabContent>
                    <div class="list-group">
                        <!-- <div *ngIf="obFiles$ | async as files$; else loading">
                           <div *ngIf="files$.length; else noItems">
                             <a *ngFor="let file of filesOrg | slice:0:5" (click)="open(file)" class="list-group-item list-group-item-action flex-column align-items-start">
                               <div class="d-flex w-100 justify-content-between">
                                 <h5 class="mb-1 font-weight-bold">{{file.name}}</h5>
                               </div>
                               <small class="text-muted">{{file.uploadDate | date: 'dd-MM-yyyy HH:mm'}}</small>
                             </a>
                           </div>
                         </div>
                         <ng-template #loading><app-loading class="load"></app-loading></ng-template>
                         <ng-template #noItems>
                         <a class="list-group-item list-group-item-action flex-column align-items-start">
                           <p class="mb-1">Er zijn geen bestanden!</p>
                         </a>
                         </ng-template>-->
                        <a routerLink="/files/organization" class="btn btn-primary">
                            Toon alle organisatie info bestanden!
                        </a>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="col-4 ">
        <h3 class="">Informatie</h3>
        <br>
        <div class="info">
            <h3>Welkom</h3>
            <p>Je bent ingelogd als: <strong>{{currentUser.role}}</strong>.</p>
        </div>

    </div>
</div>
