
.info{
  background-color: #D1E8FF;
  border: solid #1e90ff 1px;
  border-radius: 5px;
  padding: 15px;
}

.nopadding{
  padding: 0 !important;
}

.padding15{
  padding: 0 15px;
}

.angular-notifications-icon {
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding: 2.7px 8px;
  margin-left: 5px;
  line-height: 1.15;
  background: red;
  color: white;
  user-select: none;
  cursor: default;
  &.overlay {
    position: relative;
    z-index: 1;
  }
}
.list-group{
  .list-group-item{
    padding-left: 35px;
    &.unread{
      background-color: #eff7ff;
      border: 1px solid #D1E8FF;
    }
    span{
      height: 10px;
      width: 10px;
      background-color: red;
      position: absolute;
      top: calc(50% - 5px);
      left: 12px;
      display: block;
      border-radius: 50%;
    }
  }
  .load{
    margin: 50px 0;
  }
}

