<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<h1>Dienst bestand toevoegen</h1>
<form [formGroup]="createFileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="organization">Zorgorganisatie</label>
    <input type="text" id="organization" placeholder="Hoofd organisatie" class="form-control" formControlName="organization" [(ngModel)]="activeFile.header"/>
    <div *ngIf="submitted && f.organization.errors" class="invalid-feedback d-block">
          <div *ngIf="f.organization.errors.required">Organisatie is verplicht</div>
        </div>
  </div>
  <div class="form-group">
    <label for="name">Naam dienst bestand</label>
    <input id="name" type="text" placeholder="Naam bestand" formControlName="name" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="activeFile.name"/>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Naam is verplicht</div>
    </div>
  </div>
  <div class="form-group">
    <label for="url">Bestand <span class="text-muted small">(.pdf, .docx, .xlsx)</span></label>
    <input type="file" class="form-control" (change)="fileChange($event)" formControlName="content" placeholder="Upload file" accept=".pdf, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .doc, .docx, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" [ngClass]="{ 'is-invalid': submitted && f.content.errors }">
    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
      <div *ngIf="f.content.errors.required">Bestand is verplicht</div>
    </div>
  </div>
  <label>Type bestand</label>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="filetype" [value]="'EMPLOYMENT'" formControlName="filetype" [(ngModel)]="activeFile.fileType">
    <label class="custom-control-label" for="defaultUnchecked">Dienst bestand</label>
  </div>
  <div class="my-2"></div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultChecked" name="filetype" [value]="'INFO'" formControlName="filetype" [(ngModel)]="activeFile.fileType">
    <label class="custom-control-label" for="defaultChecked">Informatie bestand</label>
  </div>
  <div *ngIf="submitted && f.filetype.errors" class="invalid-feedback">
    <div *ngIf="f.filetype.errors.required">Type is verplicht</div>
  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-primary">Aanmaken</button>
  </div>
</form>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
