﻿<ngb-alert *ngIf="message" type="{{messageType}}" (close)="message = null">{{ message }}</ngb-alert>

<div class="login-page">
  <div class="form">
    <img src="assets/images/logo.png" alt="logo">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <div class="form-group">
        <label for="username">Email:</label>
        <input id="username" type="text" placeholder="Email" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Email is verplicht</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord:</label>
        <input id="password" type="password" placeholder="Wachtwoord" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Wachtwoord is verplicht</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
      </div>
      <div class="form-group">
      <a routerLink="/forgot-password" >wachtwoord vergeten?</a>
</div>
    </form>
  </div>
</div>
<div class="login-page-bg">
  <img class="bg-image" src="assets/images/uitzendkracht.jpg">
</div>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>

