<div class="sk-folding-cube">
  <div class="rot rot1">
    <div class="sk-cube1 sk-cube"></div>
  </div>
  <div class="rot rot2">
    <div class="sk-cube2 sk-cube"></div>
  </div>
  <div class="rot rot4">
    <div class="sk-cube4 sk-cube"></div>
  </div>
  <div class="rot rot3">
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
