.sk-folding-cube {
  margin: 20px auto;
  width: 140px;
  height: 140px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.rot {
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
  position: relative;
}

.sk-folding-cube .sk-cube {
  width: 50px;
  height: 50px;
  box-shadow: inset -25px -25px 0 0 #248ab3;
  -webkit-animation: sk-foldCubeAngle 1.6s infinite linear both;
  animation: sk-foldCubeAngle 1.6s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube:before,
.sk-folding-cube .sk-cube:after {
  content: "";
  background-color: #248ab3;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;

}

.sk-folding-cube .sk-cube:before {
  top: -12.5px;
  left: 25px;
}

.sk-folding-cube .sk-cube:after {
  top: 25px;
  left: -12.5px;
}

.sk-folding-cube .rot2 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.sk-folding-cube .rot3 {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.sk-folding-cube .rot4 {
  -webkit-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
}

.sk-folding-cube .sk-cube2, .sk-folding-cube .sk-cube2:before, .sk-folding-cube .sk-cube2:after {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-folding-cube .sk-cube3, .sk-folding-cube .sk-cube3:before, .sk-folding-cube .sk-cube3:after {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-folding-cube .sk-cube4, .sk-folding-cube .sk-cube4:before, .sk-folding-cube .sk-cube4:after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  25%, 35% {
    -webkit-transform: perspective(140px) rotateY(90deg);
    transform: perspective(140px) rotateY(90deg);
    opacity: 0;
  }
  50%, 60% {
    -webkit-transform: perspective(140px) rotateX(-90deg);
    transform: perspective(140px) rotateX(-90deg);
    opacity: 0;
  }
  75%, 100% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  25%, 35% {
    -webkit-transform: perspective(140px) rotateY(90deg);
    transform: perspective(140px) rotateY(90deg);
    opacity: 0;
  }
  50%, 60% {
    -webkit-transform: perspective(140px) rotateX(-90deg);
    transform: perspective(140px) rotateX(-90deg);
    opacity: 0;
  }
  75%, 85% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
}


//--------------------------------old animation ----------------------------------

//@-webkit-keyframes sk-foldCubeAngle {
//  0%, 10% {
//    -webkit-transform: perspective(140px) rotateX(-180deg);
//    transform: perspective(140px) rotateX(-180deg);
//    opacity: 0;
//  } 25%, 75% {
//      -webkit-transform: perspective(140px) rotateX(0deg);
//      transform: perspective(140px) rotateX(0deg);
//      opacity: 1;
//    } 90%, 100% {
//        -webkit-transform: perspective(140px) rotateY(180deg);
//        transform: perspective(140px) rotateY(180deg);
//        opacity: 0;
//      }
//}
//
//@keyframes sk-foldCubeAngle {
//  0%, 10% {
//    -webkit-transform: perspective(140px) rotateX(-180deg);
//    transform: perspective(140px) rotateX(-180deg);
//    opacity: 0;
//  } 25%, 75% {
//      -webkit-transform: perspective(140px) rotateX(0deg);
//      transform: perspective(140px) rotateX(0deg);
//      opacity: 1;
//    } 90%, 100% {
//        -webkit-transform: perspective(140px) rotateY(180deg);
//        transform: perspective(140px) rotateY(180deg);
//        opacity: 0;
//      }
//}
