<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div *ngIf="obUser$ | async ; else loading">
<h1>Profiel</h1>
<hr>
<div *ngIf="!isAdmin">
<div class="row">
    <div class="col-md-3 image_container">
      <img src="{{user.account.image ? user.account.image : 'assets/images/profile-placeholder.png'}}" alt="profile" class="profile_image">
    </div>
    <div class="col-md-9">
      <table class="table">
        <tbody>
          <tr>
            <td><b>Naam:</b> {{user.account.name}}</td>
            <td><b>Tel: </b> <a href="tel:{{user.account.phone}}">{{user.account.phone}}</a></td>
          </tr>
          <tr>
            <td *ngIf="isZzp"><b>Geslacht:</b> {{user.gender?.toString()}}</td>
<!--            <td *ngIf="isOrganization"><b>Locatie:</b> {{user.location}}</td>-->
            <td><b>Email:</b> {{user.account.email}}</td>
          </tr>
          <tr *ngIf="isZzp">
            <td><b>Geboortedatum:</b> {{user.dateOfBirth | date:'dd-MM-yyyy'}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row profile_detail" *ngIf="isZzp">
    <div class="col-md-12">
      <h4>Beroepstitel</h4> {{user.profession}}
    </div>
  </div>
  <div class="row profile_detail" *ngIf="isZzp">
    <div class="col-md-12">
      <h4>Opleidingsniveau</h4> {{user.educationLevel}}
    </div>
  </div>
  <div class="row profile_detail">
    <div class="col-md-12">
      <h4>Beschrijving</h4>
      {{user.description}}
      </div>
  </div>

<!--  <div class="row profile_detail" *ngIf="isOrganization">-->
<!--      <div class="col-md-6">-->
<!--        <h4>Afdelingen</h4>-->
<!--        <div *ngIf="user.departments.lenght > 0">-->
<!--          Er zijn nog geen afdelingen-->
<!--        </div>-->
<!--        <ul>-->
<!--        <li *ngFor="let depart of user.departments">-->
<!--                  {{depart}}-->
<!--                </li>-->
<!--        </ul>-->

<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <h4>afdelingen toevoegen</h4>-->
<!--      <input type="text" name="afdeling" class="form-control" placeholder="afdeling" [(ngModel)]="newDepartment">-->
<!--      <br>-->
<!--      <button type="button" class="btn btn-outline-primary" (click)="addDepartment()">Toevoegen</button>-->
<!--    </div>-->
<!--</div>-->
</div>
<div *ngIf="isAdmin">
<div class="row">
    <div class="col-md-3 image_container">
      <img src="assets/images/profile-placeholder.png" alt="profile" class="profile_image">
    </div>
    <div class="col-md-9">
      <table class="table">
        <tbody>
          <tr>
            <td><b>Naam:</b> {{user.name}}</td>
            <td><b>Tel:</b> {{user.phone}}</td>
          </tr>
          <tr>
            <td><b>Email:</b> {{user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
