.image_container{
  text-align: center;
  .profile_image{
    border-radius: 50%;
    max-width: 200px;
  }
}
table{
  tr{
    &:first-child{
      td{
        border: none;
      }
    }
  }
}

h4{
  font-weight: bold;
}
.profile_detail{
  margin: 20px 0;
}
