<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<ng-template #modalContent let-close="close" >
  <div class="modal-header">
    <h5 class="modal-title">Organisatie informatie</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
    <!--<b>Informatie bestanden</b>
    <div class="list-group"  >
        <div  class="d-flex" *ngFor="let file of modalData?.event.fileEntities">
          <a class="list-group-item list-group-item-action flex-column align-items-start" (click)="open(file)" >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 font-weight-bold">{{file.name}}</h5>
            </div>
            <small class="text-muted">{{file.uploadDate | date: 'dd-MM-yyyy HH:mm'}}</small>
          </a>
          <button *ngIf="isAdmin" class="delete-file float-right btn btn-light text-center" (click)="delete(file)">
            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
            </svg>
          </button>
          </div>
      </div>

      <hr>-->
      <form *ngIf="isAdmin" [formGroup]="organizationForm" (ngSubmit)="onSubmit(modalData?.event)">
      <b>Foto</b>
        <div class="form-group">
              <label for="file-input" *ngIf="modalData?.event.image">
                <img [src]="modalData?.event.image" alt="Geen afbeelding"/>
              </label>
        <input id="file-input" type="file" accept="image/*" formControlName="image" (change)="onFileChange($event, modalData?.event)" class="form-control"/>
        </div>
        <div class="form-group">
            <b>Naam</b>
          <input type="text" [(ngModel)]="modalData?.event.name" formControlName="name" class="form-control"/>
        </div>
        <div class="form-group">
                    <b>Site Url</b>
                  <input type="text" [(ngModel)]="modalData?.event.siteUrl" formControlName="siteUrl" class="form-control"/>
                </div>
        <div class="form-group">
                    <b>Email</b>
                  <input type="text" [(ngModel)]="modalData?.event.email" formControlName="email" class="form-control"/>
                </div>
        <div class="form-group">
          <b>Locatie/adres</b>
        <input type="text" [(ngModel)]="modalData?.event.location" formControlName="location" class="form-control"/>
      </div>
      <div class="form-group">
                  <b>Telefoon nummer</b>
                <input type="text" [(ngModel)]="modalData?.event.phone" formControlName="phone" class="form-control"/>
              </div>
        <div class="form-group">
            <b>Omschrijving</b>
          <textarea rows="3" [(ngModel)]="modalData?.event.description" formControlName="description" class="form-control"></textarea>
        </div>
        <hr>
        <b>Afdelingen</b>
        <div class="form-group col-12 row">
          <div class="col-6">
            <div class="form-row tags">
              <ul class="col-md-12">
                <li class="department" *ngFor="let department of modalData?.event.departments">{{department.name}} <span style="color: red; cursor: pointer;"><b (click)="removeDepartment(department.name, modalData?.event)">X</b></span>
                  <div class="department-info">
                  <a class="btn btn-outline-primary btn-sm mb-1" (click)="editDepartment(department)">
                  <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                  </svg></a><br>
                    <b>Naam:</b> {{department.name}}<br>
                    <b>Locatie:</b> {{department.location}}<br>
                    <b>Beschrijving:</b>
                    <p>{{department.description}}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="form-row tagSearch">
              <label for="newDepartmentName">Naam</label>
              <input class="form-control mb-3" type="text" id="newDepartmentName" placeholder="Naam van afdeling" formControlName="newDepartmentInputName" [(ngModel)]="newDepartment.name"><br>
              <label for="newDepartmentLocation">Locatie/adres</label>
              <input class="form-control mb-3" type="text" id="newDepartmentLocation" placeholder="Locatie" formControlName="newDepartmentInputLocation" [(ngModel)]="newDepartment.location"><br>
              <label for="newDepartmentDescription">Omschrijving</label>
              <textarea class="form-control mb-2" cols="40" rows="5" id="newDepartmentDescription" placeholder="Omschrijving" formControlName="newDepartmentInputDescription" [(ngModel)]="newDepartment.description"></textarea><br>
              <div *ngIf="errorAddDepart" class="invalid-feedback d-block mb-2">
                           <div>De naam en locatie zijn verplicht.</div>
                        </div>
              <a (click)="addDepartment(modalData?.event)" class="btn btn-primary">Toevoegen</a>
            </div>
          </div>
        </div>


        <div class="form-group">
          <button class="btn btn-outline-primary">
          Bewerken</button>
        </div>
      </form>
      <div *ngIf="!isAdmin">
        <div class="row">
          <div class="col-md-12">
            <h5>{{ modalData?.event.name}}</h5>
            <table class="table table-borderless">
              <tr class="row">
                      <td class="col-8"><b>Adres: </b> <a target="_blank" href="https://www.google.com/maps/search/{{modalData?.event.location}}">{{modalData?.event.location}}</a></td>
                      <td class="col-4"><b>Website: </b> <a href="{{modalData?.event.siteUrl}}" target="_blank"> {{modalData?.event.siteUrl}}</a></td>
                    </tr>
                    <tr class="row">
                      <td class="col-8"><b>locatie: </b>{{modalData?.event.location}}</td>
                      <td class="col-4"><b>Tel: </b> <a href="tel:{{modalData?.event.phone}}">{{ modalData?.event.phone}}</a></td>
                    </tr>
            </table>
            <hr>
            <b>Afdelingen</b>
                      <div class="col-12">
                        <div class="form-row tags">
                          <ul class="col-md-12">
                            <li class="department" *ngFor="let department of modalData?.event.departments">{{department.name}}
                              <div class="department-info zzp">
                                <b>Naam:</b> {{department.name}}<br>
                                <b>Locatie:</b> {{department.location}}<br>
                                <b>Beschrijving:</b>
                                <p>{{department.description}}</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="row page-header">
  <h2>Organisaties</h2>
  <a *ngIf="isAdmin" routerLink="/organization/create" class="btn btn-primary ml-auto btn-create">+ organisatie toevoegen</a>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Zoeken">
  </div>
  <div class="col-md-2">
     <input type="submit" class="btn btn-primary" value="Zoeken">
    </div>
</div>
<hr>
<div class="list-group" *ngIf="oborganizations$ | async as organizations$; else loading" >
  <div *ngIf="organizations$.length; else noItems">
    <div class="d-flex organization" *ngFor="let organization of organizations | filter:searchText">
      <a (click)="oModal(organization)" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 font-weight-bold">{{organization.name}}</h5>
          <!--<div *ngIf="organization.fileEntities.length > 0">
            <svg class="bi bi-files" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3 2h8a2 2 0 012 2v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V4a1 1 0 00-1-1H3z" clip-rule="evenodd"/>
              <path d="M5 0h8a2 2 0 012 2v10a2 2 0 01-2 2v-1a1 1 0 001-1V2a1 1 0 00-1-1H5a1 1 0 00-1 1H3a2 2 0 012-2z"/>
            </svg>
          </div>-->
        </div>
      </a>
        <button class="delete-file float-right btn btn-light text-center" (click)="delete(organization)">
          <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
          </svg>
        </button>
    </div>
  </div>
  <ng-template #noItems>Er zijn op dit moment geen organisaties!</ng-template>
</div>
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>

