
img {
  max-width: 200px;
  max-height: 100px;
}

.organization {
  margin: 10px 0;
}

.page-header {
  margin: 0 !important;

  .btn-create {
    max-height: 39px;
    color: white !important;
  }
}

.modal-body {
  word-wrap: break-word;

  &.zzp {
    min-height: 470px;
  }

  table {
    td {
      padding-left: 0;
    }
  }
}

.department {
  padding: 2px 8px;
  .department-info {
    display: none;
    max-width: 200px;
    font-size: 10px;
    position: absolute;
    z-index: 99999;
    background: white;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #e1e4e8;
    box-shadow: 0 5px 6px grey;

    &.zzp {
      position: absolute;
      max-width: 300px;
      right: 0;
      top: -18px;
    }
  }

  &:hover {
    cursor: pointer;
    background: #f1f1f1;
    .department-info {
      display: block;
    }
  }
}
