<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>


<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Dienst detail</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 *ngIf="isAdmin">{{ modalData?.event.zzp[0]?.account ? modalData?.event.zzp[0]?.account?.name : 'Verwijderde Zzp'}}</h2>
                    <table class="table table-borderless">
                        <tr *ngIf="isAdmin" class="row">
                            <td class="col-8"><b>Aangevraagd niveau: </b>{{modalData?.event.description}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>Niveau: </b>  {{ modalData?.event.educationLevel}}</td>
                            <td class="col-4"><b>Functie: </b> {{ modalData?.event.function}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>Van: </b> {{modalData?.event.plannedStartDate | date: 'dd-MM-yyyy HH:mm'}}<br> <b>Tot: </b>&nbsp;&nbsp;{{modalData?.event.plannedEndDate | date: 'dd-MM-yyyy HH:mm'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ modalData?.event.organization?.name}}</h5>
                    <table class="table table-borderless">
                        <tr class="row">
                            <td class="col-8"><b>Adres: </b> <a target="_blank" href="https://www.google.com/maps/search/{{modalData?.event.organization?.location}}">{{modalData?.event.organization?.location}}</a></td>
                            <td class="col-4" *ngIf="isAdmin"><b>Email: </b> <a href="mailto:{{modalData?.event.organization?.email}}">{{ modalData?.event.organization?.email}}</a></td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>locatie: </b>{{modalData?.event.location}}</td>
                            <td class="col-4"><b>Website: </b> <a href="{{modalData?.event.organization?.siteUrl}}" target="_blank"> {{modalData?.event.organization?.siteUrl}}</a></td>
                        </tr>
                        <tr class="row">
                            <td class="col-8"><b>Afdeling: </b>{{ modalData?.event.department?.name}}</td>
                            <td class="col-4"><b>Tel: </b> <a href="tel:{{modalData?.event.organization?.phone}}">{{ modalData?.event.organization?.phone}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold">Beschrijving</h5>
                    <p>
                        {{ modalData?.event.extraInfo }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <button type="button" *ngIf="isAdmin" class="btn btn-outline-danger mr-auto" (click)="delete(modalData?.event)">
                Verwijderen
            </button>
            <button *ngIf="isAdmin" class="btn btn-outline-warning" (click)="changeWorked(modalData?.event)" >
                            {{modalData?.event.hasWorked ? 'Niet gewerkt' : 'Wel gewerkt'}}
                        </button>
            <button *ngIf="isAdmin" class="btn btn-outline-primary" (click)="close()" routerLink="/employments/{{ modalData?.event.id}}/edit">
                Bewerken
            </button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
        </button>
    </div>
</ng-template>

<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="activeDayIsOpen = false; fetchAgenda()"
            >
                Vorige
            </div>
            <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                    (viewDateChange)="fetchAgenda()"
            >
                Vandaag
            </div>
            <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="activeDayIsOpen = false; fetchAgenda()"
            >
                Volgende
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'nl_BE' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
                    class="btn btn-primary"
                    (click)="view = CalendarView.Month; fetchAgenda()"
                    [class.active]="view === CalendarView.Month"
            >
                Maand
            </div>
            <div
                    class="btn btn-primary"
                    (click)="view = CalendarView.Week; fetchAgenda()"
                    [class.active]="view === CalendarView.Week"
            >
                Week
            </div>
            <div
                    class="btn btn-primary"
                    (click)="view = CalendarView.Day; fetchAgenda()"
                    [class.active]="view === CalendarView.Day"
            >
                Dag
            </div>
        </div>
    </div>
</div>
<br />
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>

<div *ngIf="employments$ | async; else loading">
    <div [ngSwitch]="view">
        <div class="mb-2">
            <span class="badge badge-success">Gewerkt: {{totalWorked}}</span>&nbsp;
            <span class="badge badge-danger">Niet gewerkt: {{totalNotWorked}}</span>
        </div>
        <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate"
                [events]="employments"
                [refresh]="refresh"
                [locale]="locale"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                weekStartsOn="1"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="viewDate"
                [events]="employments"
                [refresh]="refresh"
                [locale]="locale"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                weekStartsOn="1"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [viewDate]="viewDate"
                [events]="employments"
                [refresh]="refresh"
                [locale]="locale"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
    </div>
</div>
<app-loading-overlay *ngIf="loadingB"></app-loading-overlay>
