<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="register-page">
  <div class="form">
    <img src="assets/images/logo.png" alt="logo">
    <h2>Bevestig je account</h2>
      <form [formGroup]="registerFormZZP" (ngSubmit)="onSubmitZzp()">
      <label>Foto</label>
        <div class="form-group">
          <label for="file-input" *ngIf="zzp.account.image">
              <img [src]="zzp.account.image" alt="Geen afbeelding"/>
          </label>
          <input id="file-input" type="file" accept="image/*" formControlName="image" (change)="onFileChange($event)" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="name">Naam</label>
          <input id="name" type="text" placeholder="Naam" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="zzp.account.name"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Naam is verplicht</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="zzp.account.email" readonly/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is verplicht</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input id="password" type="password" placeholder="Wachtwoord" formControlName="pass1" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.pass1.errors }" [(ngModel)]="zzp.account.password"/>
          <div *ngIf="submitted && f.pass1.errors" class="invalid-feedback">
            <div *ngIf="f.pass1.errors.required">Wachtwoord is verplicht</div>
            <div *ngIf="f.pass1.errors.minlength">Wachtwoord moet minimaal 8 karakters lang zijn</div>
          </div>
        </div>

        <div class="form-group">
          <label for="repeat-password">Herhaal wachtwoord</label>
          <input id="repeat-password" type="password" placeholder="Herhaal wachtwoord" formControlName="pass2" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.pass2.errors }" />
          <div *ngIf="submitted && f.pass2.errors" class="invalid-feedback">
            <div *ngIf="f.pass2.errors.required">Wachtwoord is verplicht</div>
            <div *ngIf="f.pass2.errors.MatchPassword ">Wachtwoorden komen niet overeen!</div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Telefoonnummer</label>
          <input id="phone" type="text" placeholder="Telefoonnummer" formControlName="phone" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" [(ngModel)]="zzp.account.phone"/>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Telefoonnummer is verplicht</div>
          </div>
        </div>

        <div class="form-group">
          <label for="age">Geboortedatum</label>
          <input id="age" type="date" placeholder="Leeftijd" formControlName="age" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.age.errors }" [(ngModel)]="zzp.dateOfBirth"/>
          <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
            <div *ngIf="f.age.errors.required">Leeftijd is verplicht</div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Beschrijving</label>
          <input type="text" id="description" placeholder="Beschrijving" formControlName="description" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" [(ngModel)]="zzp.description"/>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Beschrijving is verplicht</div>
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Geslacht</label>
          <select id="gender" formControlName="gender" placeholder="Geslacht" class="form-control" [(ngModel)]="selectedGender">
            <option [value]="'MALE'">Man</option>
            <option [value]="'FEMALE'">Vrouw</option>
          </select>
          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                      <div *ngIf="f.gender.errors.required">Geslacht is verplicht</div>
                    </div>
        </div>

        <div class="form-group">
          <label for="profession">Beroepstitel</label>
          <input type="text" id="profession" placeholder="Beroepstitel" formControlName="profession" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.profession.errors }" [(ngModel)]="zzp.profession"/>
          <div *ngIf="submitted && f.profession.errors" class="invalid-feedback">
            <div *ngIf="f.profession.errors.required">Beroep is verplicht</div>
          </div>
        </div>

        <div class="form-group">
          <label for="niveau">Niveau</label>
          <select id="niveau" formControlName="educationLevel" placeholder="Niveau" class="form-control" [(ngModel)]="selectedEducationLevel">
            <option [value]="educationLevel" *ngFor="let educationLevel of educationLevelsPlaceholder$" >
              {{ educationLevel }}
            </option>
          </select>
          <div *ngIf="submitted && f.educationLevel.errors" class="invalid-feedback">
                      <div *ngIf="f.educationLevel.errors.required">Beroep is verplicht</div>
                    </div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Register</button>
        </div>
        <div class="form-group">
                    <a routerLink="/" >Terug naar login</a>
              </div>
      </form>
    </div>
</div>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>
