@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/angular-calendar/scss/angular-calendar.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";


body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  .minHeight {
    min-height: calc(100vh - 74px);
  }
}

a {
  text-decoration: none;
  color: #248ab3;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

ngb-alert {
  position: fixed !important;
  top: 30px;
  z-index: 9999999;
  left: calc(75vw - 64vw);
  width: 75vw;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.29);
}

input[type=file] {
  font-family: "Roboto", sans-serif;
  padding: 3px !important;
  font-size: 14px;
}

.info {
  background-color: #f2fafb !important;
  border-color: #48bcca !important;
}

.btn-outline-primary {
  &:hover {
    background-color: #48bcca !important;
    border-color: #48bcca !important;
    color: #FFFFFF !important;
  }

  &:focus {
    background-color: #248ab3 !important;
    border-color: #248ab3 !important;
  }

  color: #48bcca !important;
  border-color: #48bcca !important;
}

.btn-primary {
  background-color: #48bcca;
  border-color: #48bcca;
  color: white !important;

  &:hover {
    background-color: #248ab3;
    border-color: #248ab3;
  }
}

.btn-light {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 5px 5px 0 !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #248ab3;
  border-color: #248ab3;
}

.i-info:after {
  content: url("assets/images/baseline-info-24px.svg");
  margin: 5px;
}

.list-group-item {
  border-radius: 5px 0 0 5px !important;
  margin-bottom: 0 !important;
}

.middle-button {
  border-radius: 0 !important;
}

.md-drppicker {
  .calendar{
    margin-bottom: 20px !important;
  }
  td {
    &.off {
      background-color: #fff !important;
      &.active {
        background-color: #fff !important;
        &:hover {
          background-color: #fff !important;
          color: #495057;
        }
      }
    }
    &.active {
      background-color: #26557d  !important;
      &:hover {
        background-color: #248ab3 !important;
      }
    }
  }
  .btn {
    background-color: #26557d  !important;
    box-shadow: none !important;
    border: 1px solid #495057 !important;
    &.btn-default {
      background-color: white !important;
      margin-right: 10px;
      color: #495057 !important;

      &:hover {
        background-color: #f8f8f8 !important;
      }
    }

    &:hover {
      background-color: #248ab3 !important;
    }
  }
}
