<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Dienst detail</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
              <div class="col-md-12">
                <h2>{{ modalData?.event.description}}</h2>
                <table class="table table-borderless">
                  <tr>
                    <td><b>Niveau:</b>  {{ modalData?.event.educationLevel}}</td>
                    <td><b>Functie:</b> {{ modalData?.event.function}}</td>
                  </tr>
                  <tr>
                    <td><b>Van:</b> {{modalData?.event.plannedStartDate}}<br> <b>Tot:</b> {{modalData?.event.plannedEndDate}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <h5>{{ modalData?.event.organization.name}}</h5>
                <table class="table table-borderless">
                  <tr>
                    <td><b>locatie:</b>  {{ modalData?.event.location}}</td>
                    <td><b>Email:</b> {{ modalData?.event.organization.email}}</td>
                  </tr>
                  <tr>
                    <td><b>Afdeling:</b>  {{ modalData?.event.department}}</td>
                    <td><b>Tel:</b> {{ modalData?.event.organization.phone}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <h5 class="font-weight-bold">Beschrijving</h5>
                <p>
                  {{ modalData?.event.extraInfo }}
                </p>
              </div>
            </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h5 class="font-weight-bold">Ingeschreven zzp'ers</h5>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>Niveau</th>
                  <th>Beschrijving</th>
                  <th *ngIf="modalData?.event.state == 'OPEN'" class="table-column-accept">Accepteren <i class="i-info" placement="left" ngbPopover="Kies de zzp'er die je wilt hebben voor deze opdracht. De andere zzp'ers zullen automatisch verwijderd worden" popoverTitle="Informatie" triggers="mouseenter:mouseleave"></i></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let zzp of modalData?.event.zzp">
                  <td>
                    <a routerLink="/user/{{zzp.id}}" target="_blank">
                      {{zzp.account.name}}
                    </a>
                  </td>
                  <td>
                    {{zzp.educationLevel}}
                  </td>
                  <td>
                    {{zzp.description}}
                  </td>
                  <td class="table-column-accept" *ngIf="modalData?.event.state == 'OPEN'">
                    <button class="btn btn-success" (click)="acceptZzp(modalData?.event, zzp)">Accepteer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-danger mr-auto" (click)="delete(modalData?.event)">
                  Verwijderen
                </button>
  <a class="btn btn-outline-primary" (click)="close()" routerLink="/employments/{{ modalData?.event.id}}/edit">
                Bewerken
              </a>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
<div class="row page-header">
  <h2>Diensten</h2>
  <a routerLink="/create-employment" class="btn btn-primary ml-auto btn-create">+ Nieuwe dienst</a>
</div>
<hr>
<div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.ALL; fetchEmployments()"
        [class.active]="view === EmploymentState.ALL"
      >
        Alles
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.OPEN; fetchEmployments()"
        [class.active]="view === EmploymentState.OPEN"
      >
        Open
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.EXPIRED; fetchEmployments()"
        [class.active]="view === EmploymentState.EXPIRED"
      >
        Verlopen
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.CLOSED; fetchEmployments()"
        [class.active]="view === EmploymentState.CLOSED"
      >
        Gesloten
      </div>
      <div
        class="btn btn-primary"
        (click)="view = EmploymentState.FILLED; fetchEmployments()"
         [class.active]="view === EmploymentState.FILLED"
      >
        Voltooid
      </div>
    </div>
<div class="list-group" *ngIf="obEmployment$ | async as employments$; else loading">
  <div *ngIf="employments$.length; else noItems">
    <a *ngFor="let employment of employments" (click)="oModal(employment)" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 font-weight-bold">{{employment.description}}</h5>
        <small>27-03-2019</small>
      </div>
      <p class="mb-1">{{employment.description}}</p>
      <small class="text-muted">{{employment.location}}</small>
      <img *ngIf="employment.state == 'OPEN'" src="assets/images/open.png" class="image-done float-right">
      <img *ngIf="employment.state == 'CLOSED'" src="assets/images/closed.png" class="image-done float-right">
      <img *ngIf="employment.state == 'FILLED'" src="assets/images/done.png" class="image-done float-right">
      <img *ngIf="employment.state == 'EXPIRED'" src="assets/images/expired.png" class="image-done float-right">
    </a>
  </div>
  <ng-template #noItems>Je hebt nog geen diensten aangemaakt!</ng-template>
</div>
<ng-template #loading><app-loading-overlay></app-loading-overlay></ng-template>
