.table{
  td{
    &.table-column-accept{
      max-width: 70px;
    }
    a{
      &:after{
        content: "";
        background-image: url('/assets/images/redirectlink.svg');
        background-size: 13px 20px;
        display: inline-block;
        width: 13px;
        height: 20px;
      }
    }
  }
}

ngb-alert{
  position: fixed;
  top: 5px;
  left: calc(75vw - 64vw);
  width: 75vw;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.29);
}

 .image-done{
   width: 60px;
   height: 50px;
   position: relative;
   top: -30px;
 }
.page-header{
  margin: 0 !important;
  .btn-create{
    max-height: 39px;
    color: white !important;
  }
}

