<ngb-alert *ngIf="successMessage" type="{{messageType}}" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="register-page">
  <div class="form">
    <img src="assets/images/logo.png" alt="logo">
    <h2>Reset wachtwoord</h2>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input id="password" type="password" placeholder="Wachtwoord" formControlName="pass1" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.pass1.errors }"/>
          <div *ngIf="submitted && f.pass1.errors" class="invalid-feedback">
            <div *ngIf="f.pass1.errors.required">Wachtwoord is verplicht</div>
            <div *ngIf="f.pass1.errors.minlength">Wachtwoord moet minimaal 8 karakters lang zijn</div>
          </div>
        </div>

        <div class="form-group">
          <label for="repeat-password">Herhaal wachtwoord</label>
          <input id="repeat-password" type="password" placeholder="Herhaal wachtwoord" formControlName="pass2" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.pass2.errors }" />
          <div *ngIf="submitted && f.pass2.errors" class="invalid-feedback">
            <div *ngIf="f.pass2.errors.required">Wachtwoord is verplicht</div>
            <div *ngIf="f.pass2.errors.MatchPassword ">Wachtwoorden komen niet overeen!</div>
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Verander wachtwoord</button>
        </div>
      </form>
    </div>
</div>
<app-loading-overlay *ngIf="loading"></app-loading-overlay>
